@*@Scripts.Render("~/Scripts/jquery-3.3.1.js")*@

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/js/Cep.js"></script>

<br />
<br />
<h1>Carregar CEP</h1>
<br />
<br />

<form action="">
    CEP:<br />
    <input type="text" class="form-control" name="cep" value="" />
    <br />
    Endereço:<br />
    <input type="text" class="form-control" name="endereco" value="" /><br />
    Bairro:<br />
    <input type="text" class="form-control" name="bairro" value="" /><br />
    Cidade: <br />
    <input type="text" class="form-control" name="cidade" value="" /><br />
    Estado:<br />
    <input type="text" class="form-control" name="estado" value="" /><br />

</form>
