@{
	ViewBag.Title = "Home Page";
}

<!--================Header Area =================-->
<!--================Main Slider Area =================-->
<section class="main_slider_area">
	<div id="main_slider" class="rev_slider" data-version="5.3.1.6">
		<ul>
			<li data-index="rs-2972" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="img/home-slider/slider-1.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="img/home-slider/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<div class="slider_text_box">
					<div class="tp-caption first_text"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-hoffset="['0','0','0','0']"
						 data-voffset="['-38','-38','-38','-20','-20']"
						 data-fontsize="['28','28','28','28']"
						 data-lineheight="['38','38','38','38']"
						 data-width="none"
						 data-height="none"
						 data-whitespace="nowrap"
						 data-type="text"
						 data-responsive_offset="on"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						 data-textAlign="['left','left','left','left']"
						 data-paddingtop="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]">We are weBuilder</div>

					<div class="tp-caption secand_text"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-hoffset="['0','0','0','0']"
						 data-voffset="['38','38','38','38','38']"
						 data-fontsize="['110','110','110','50','50']"
						 data-lineheight="['100','100','100','70','70']"
						 data-width="['none','none','none','none']"
						 data-height="none"
						 data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
						 data-type="text"
						 data-responsive_offset="on"
						 data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
						 data-textAlign="['center','center','center','center']"
						 data-paddingtop="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingbottom="[10,10,10,10]"
						 data-paddingleft="[0,0,0,0]">we innovate</div>
				</div>
			</li>
			<li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="img/home-slider/slider-1.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="img/home-slider/slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<div class="slider_text_box2">
					<div class="tp-caption first_text"
						 data-x="['left','left','left','left','left']"
						 data-y="['middle','middle','middle','middle','middle']"
						 data-hoffset="['0','15','15','15','15']"
						 data-voffset="['-30','-30','-30','-30','-60']"
						 data-fontsize="['80','80','60','60','40']"
						 data-lineheight="['90','90','70','70','50']"
						 data-width="['none','none','none','none']"
						 data-height="none"
						 data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
						 data-type="text"
						 data-responsive_offset="on"
						 data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
						 data-textAlign="['center','center','center','center']"
						 data-paddingtop="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingbottom="[10,10,10,10]"
						 data-paddingleft="[0,0,0,0]">we build dream</div>

					<div class="tp-caption secand_text"
						 data-x="['left','left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-hoffset="['0','15','15','15','15']"
						 data-voffset="['50','50','50','40','0']"
						 data-fontsize="['28','28','28','20','20']"
						 data-lineheight="['38','38','38','30','30']"
						 data-width="['760','760','760','550','400']"
						 data-height="none"
						 data-whitespace="normal"
						 data-type="text"
						 data-responsive_offset="on"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						 data-textAlign="['left','left','left','left']"
						 data-paddingtop="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]">We made just most advance & user friendly constraction theme in the world</div>

					<div class="tp-caption"
						 data-x="['left','left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-hoffset="['0','15','15','15','15']"
						 data-voffset="['140','140','140','130','90']"
						 data-fontsize="['28','28','28','28']"
						 data-lineheight="['38','38','38','38']"
						 data-width="['730']"
						 data-height="none"
						 data-whitespace="normal"
						 data-type="text"
						 data-responsive_offset="on"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						 data-textAlign="['left','left','left','left']"
						 data-paddingtop="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"><a class="slider_btn" href="#">browse services</a></div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!--================End Main Slider Area =================-->
<!--================Get Quote Area =================-->
<section class="get_quote_area">
	<div class="container">
		<div class="pull-left">
			<h2 style="color:white">Qual a sua necessidade?</h2>
			<br />
		</div>
		<div class="pull">
			<input type="text" class="form-control" id="pesquisar" name="pesquisar" placeholder="Digite aqui">
			<br />
			<input type="submit" value="Pesquisar" class="btn btn-warning btn-rm" />
		</div>
	</div>
</section>
<!--================End Get Quote Area =================-->
<!--================Who We Are Area =================-->
<section class="who_we_are_area">
	<div class="container">
		<div class="row who_we_inner">
			<div class="col-md-5">
				<div class="who_we_left_content">
					<div class="main_w_title">
						<h2>Quem <br class="title_br" /> Somos?</h2>

					</div>
					<p>O Mand’Ajuda é a plataforma de fidelidade que liga cliente e profissional, aqui você encontra variedade dos serviços a serem prestados, basta você se cadastrar, procurar o profissional e solicitar o serviço, de forma que simplifica a sua procura por um profissional confiável. Ao final do atendimento você avalia o serviço realizado e efetua o pagamento.</p>
					<img src="~/img/missao.png" width="10%" /><p>A união dos profissionais a possíveis clientes.</p>
					<img src="~/img/visao.jpg" width="10%" /> <p>Ser uma das maiores plataformas web que atraia os olhos do usuário para facilidade de encontrar um profissional e o profissional encontrando seu cliente.</p>
					<img src="~/img/valores.png" width="10%" /><p>Fidelidade, facilidade e satisfação do cliente.</p>
					<div class="border_bar"></div>
				</div>
			</div>
			<br />
			<br />


			<div class="col-md-7">
				<div class="who_we_image">
					<img src="~/img/img-quem-somos-go4.jpg" />
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Who We Are Area =================-->
<!--================Our Service Area =================-->
<section class="our_service_area">
	<div class="left_service">
		<div class="left_service_inner">
			<div class="service_item">
				<div class="service_item_inner">
					<div class="service_icon">
						<img src="img/icon/s-icon-1.png" alt="">
						<img src="img/icon/s-icon-hover-1.png" alt="">
					</div>
					<a href="#"><h4>Pedreiro</h4></a>
					<p>Precisa de um profissional para revestir muros, paredes, escadas, lajes, tetos, telhados, chaminés?</p>

				</div>
			</div>
			<div class="service_item">
				<div class="service_item_inner">
					<div class="service_icon">
						<img src="~/img/photostock-vector-the-computer-icon-pc-symbol-flat-vector-illustration.jpg" width="30%" />
					</div>
					<a href="#"><h4>Informática</h4></a>
					<p>O computador ou notebook não liga? Está com pouco espaço no HD ou precisa de formatação?</p>

				</div>
			</div>

			<div class="service_item">
				<div class="service_item_inner">
					<div class="service_icon">
						<img src="~/img/images.png" width="30%" />
					</div>
					<a href="#"><h4>Serviços domésticos</h4></a>
					<p>Precisando de uma faxina na sua casa, escritório encontre aqui!</p>
				</div>
			</div>

			<div class="service_item">
				<div class="service_item_inner">
					<div class="service_icon">
						<img src="img/icon/s-icon-3.png" alt="">
						<img src="img/icon/s-icon-hover-3.png" alt="">
					</div>
					<a href="#"><h4>Pintor</h4></a>
					<p>Precisando modificar o ambiente, combinar cores e deixar os lugares como novos?</p>

				</div>
			</div>
			<div class="service_item">
				<div class="service_item_inner">
					<div class="service_icon">
						<img src="img/icon/s-icon-5.png" alt="">
						<img src="img/icon/s-icon-hover-5.png" alt="">
					</div>
					<a href="#"><h4>Carpiteiro</h4></a>
					<p>Precisando de diversos trabalhos em madeira, desde móveis, ferramentas, artigos para construção civil, construção naval, entre outros</p>

				</div>
			</div>
			<div class="service_item">
				<div class="service_item_inner">
					<div class="service_icon">
						<img src="~/img/estilo-mecânico-ícone-automático-imagem_csp52421379.jpg" width="30%" />
					</div>
					<a href="#"><h4>Mecânico</h4></a>
					<p>Precisando de uma manutenção preventiva, reparo e modificação nas máquinas, motores e outros equipamentos?</p>

				</div>
			</div>
		</div>
	</div>
	<div class="right_service">
		<div class="right_service_text">
			<div class="main_b_title">
				<h2>Por que <br class="title_br" /> utilizar o Mand'Ajuda?</h2>

			</div>
			<p> Mand'Ajuda criou um estilo de desenvolvimento que tem por foco a facilidade de seus usuários.</p>
			<p>	Nossa plataforma traz a simplicidade e facilidade para você acessar, além de poder acessa-lá pelo seu computador, tablet ou celular.</p>
			<p>	Você acessa e procura o profissional mais perto de você e solicita o serviço.</p>
			<p>Encontre o profissional ideal para o serviço na sua!</p>
			<div class="border_bar"></div>
		</div>
	</div>
</section>
<!--================End Our Service Area =================-->
<br />
<br />
<br />
<br />
<!--================Work Area =================-->
<section class="work_area">
	<div class="container">
		<div class="work_content">
			<div class="main_c_title">
				<h2>Cadastre se para <br class="title_br" />prestar seus serviços</h2>

			</div>

			<a class="get_bg_btn" href="#">Acesse</a>
		</div>
	</div>
</section>
<!--================End Work Area =================-->
<br />
<br />
<br />
<!--================Work Area =================-->
<section class="work_area">
	<div class="container">
		<div class="work_content">
			<div class="main_c_title">
				<h2>Cadastre se para encontrar <br class="title_br" />o profissional ideal</h2>

			</div>

			<a class="get_bg_btn" href="#">Acesse</a>
		</div>
	</div>
</section>
<!--================End Work Area =================-->
<!--================Our Team Area =================-->
<section class="our_team_area">
	<div class="container">
		<div class="main_b_r_title">
			<h2>Nosso <br class="title_br" />time</h2>

		</div>
		<div class="team_slider owl-carousel">
			
			<div class="item">
				<div class="team_item">
					<div class="team_image">
						<img src="img/team/team-1.jpg" alt="">
						<ul>
							<li><a href="https://www.facebook.com/taiseliana.ando"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
					<div class="member_name">
						<a href="#"><h4>Tais Eliana Ando</h4></a>
						<h5>Civil Engenear</h5>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="team_item">
					<div class="team_image">
						<img src="img/team/team-3.jpg" alt="">
						<ul>
							<li><a href="https://www.facebook.com/jose.magaljunior/about?lst=100010314226616%3A100001194552541%3A1553362959"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>

						</ul>
					</div>
					<div class="member_name">
						<a href="#"><h4>Magal Junior</h4></a>
						<h5>Civil Engenear</h5>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="team_item">
					<div class="team_image">
						<img src="img/team/team-1.jpg" alt="">
						<ul>
							<li><a href="https://www.facebook.com/brenda.pereira.1000469"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
					<div class="member_name">
						<a href="#"><h4>Brenda Pereira</h4></a>
						<h5>Civil Engenear</h5>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="team_item">
					<div class="team_image">
						<img src="img/team/team-3.jpg" alt="">
						<ul>
							<li><a href="https://www.facebook.com/profile.php?id=100006439627312"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
					<div class="member_name">
						<a href="#"><h4>Pedro Santos</h4></a>
						<h5>Civil Engenear</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Our Team Area =================-->
<!--================Counter Area =================-->
<section class="counter_area">
	<div class="container">
		<div class="row counter_inner">
			<div class="col-md-3 col-sm-6">
				<div class="counter_item">
					<i class="fa fa-archive" aria-hidden="true"></i>
					<h4 class="counter">245</h4>
					<h5>total projects</h5>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="counter_item">
					<i class="fa fa-building-o" aria-hidden="true"></i>
					<h4 class="counter">535</h4>
					<h5>houses build</h5>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="counter_item">
					<i class="fa fa-users" aria-hidden="true"></i>
					<h4 class="counter">288</h4>
					<h5>experiences staff</h5>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="counter_item">
					<i class="fa fa-smile-o" aria-hidden="true"></i>
					<h4 class="counter">750</h4>
					<h5>happy clients</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Counter Area =================-->
<!--================Testimonials Area =================-->
<section class="testimonials_area">
	<div class="container">
		<div class="row testimonials_inner">
			<div class="col-md-4">
				<div class="main_w_title">
					<h2>Clientes <br class="title_br" />dizem</h2>
					
				</div>
			</div>
			<div class="col-md-8">
				<div class="testimonials_slider owl-carousel">
					<div class="item">
						<div class="testi_left">
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
							<a href="#"><h4>Eng. Abul Kalam</h4></a>
						</div>
						<div class="testi_right">
							<img src="img/testimonials/test-1.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="testi_left">
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
							<a href="#"><h4>Eng. Abul Kalam</h4></a>
						</div>
						<div class="testi_right">
							<img src="img/testimonials/test-1.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="testi_left">
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
							<a href="#"><h4>Eng. Abul Kalam</h4></a>
						</div>
						<div class="testi_right">
							<img src="img/testimonials/test-1.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Testimonials Area =================-->

<!--================Map Area =================-->
<div id="mapBox" class="mapBox row m0"
	 data-lat="40.7112969"
	 data-lon="-74.1393991"
	 data-zoom="10"
	 data-marker="img/map-marker.png"
	 data-info="Dhaka, uttara, Sector 10, Road 22"
	 data-mlat="40.7112969"
	 data-mlon="-74.1393991"></div>
<!--================End Map Area =================-->
<!--================Address Area =================-->
<section class="address_area">
	<div class="container">
		<div class="row address_inner">
			<div class="col-md-4">
				<div class="media">
					<div class="media-left">
						<img src="img/icon/place-icon.png" alt="">
					</div>
					<div class="media-body">
						<h4>Endereço:</h4>
						<h5>Avenida Professor João Rodrigues - Jardim Esperança, Guaratinguetá - SP</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media">
					<div class="media-left">
						<img src="img/icon/phone-icon.png" alt="">
					</div>
					<div class="media-body">
						<h5>(XX) XXXXX-XXXX</h5>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media">
					<div class="media-left">
						<img src="img/icon/inbox-icon.png" alt="">
					</div>
					<div class="media-body">
						<h5>mandajudaservico@gmail.com</h5>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Address Area =================-->
<!--================