@model MandAjuda.Models.TermoProfissional

<br />
<br />
<br />
<br />
<br />
<br />
<br />

@*<h2>Termo de Uso</h2>*@

<div class="container-fluid">
	<div class="col-md-4">
		<div class="col-md-offset-8">
			<div style="overflow:scroll; width:800px; height:200px;">

				<center><p><h2>Termos e Condições de Uso do Site</h2></p></center>
				<p>O que você precisa saber para fazer uso da ferramenta de comentários dos sites da Editora Abril</p>
				<p>1. Aceitação dos Termos e Condições de Uso</p>
				<p>O uso da ferramenta de comentários (a partir de agora denominada Ferramenta) oferecido pela Editora Abril em seu website Vip está condicionado à aceitação e ao cumprimento dos Termos e Condições de Uso descritos abaixo. Para fazer uso da Ferramenta e postar comentários é preciso: (i) ler atentamente os termos descritos abaixo; (ii) concordar expressamente com eles; e (iii) fornecer um endereço de email válido ao postar qualquer conteúdo no Site.</p>
				<p>Ao fazer uso da Ferramenta oferecida pela Editora Abril S/A (a partir de agora denominada Abril), você (a partir de agora denominado Usuário) concorda que leu, entendeu e aceitou os termos, regras e condições aqui dispostos.</p>
				<p>Os Termos e Condições de Uso regulamentam a utilização do Site e da Ferramenta, que pertencem à Editora Abril S/A, localizada à Avenida das Nações Unidas, nº 7221, São Paulo SP, devidamente inscrita no CNPJ/MF sob o nº 02.183.757/0004 36.</p>
				<p>A Ferramenta está disponível para aqueles com capacidade civil para utilizá-la. Caso o Usuário não possua capacidade para contratar ou utilizar a Ferramenta, quando for mencionado Usuário neste Termo será então entendido também que as declarações tenham sido prestadas por seu responsável legal.</p>
				<p>A Abril se reserva o direito de modificar a qualquer momento a apresentação, configuração e disponibilização da Ferramenta e ou do Site. O mesmo se aplica a estes Termos e Condições de Uso, estabelecidos como condição fundamental para a utilização do serviço.</p>
				<p>2. Ferramenta de Comentários</p>
				<p>A Abril oferece ao Usuário uma ferramenta que permite a publicação de textos no Site, sob a forma de um comentário do Usuário, que ficará hospedado nos servidores da Abril.</p>
				<p>3. Gratuidade</p>
				<p>A Ferramenta é oferecida ao Usuário de forma gratuita. Os valores referentes à utilização dos serviços necessários ao acesso à Internet, entre outros, são de responsabilidade exclusiva do Usuário.</p>
				<p>4. Utilização da Ferramenta</p>
				<p>O Usuário reconhece que é responsável por quaisquer informações falsas que possam ser prestadas para a utilização da ferramenta, bem como por qualquer comentário ou conteúdo inserido pelo mesmo no Site. O Usuário isenta a Abril de qualquer responsabilidade quanto à veracidade dos dados pessoais fornecidos por ele quando do uso da Ferramenta, bem como por qualquer violação a direitos de terceiros, ocorrida através da ferramenta no Site decorrentes de suas declarações.</p>
				<p>O usuário reconhece, ainda, que estes Termos e Condições de Uso da Ferramenta oferecida pela Abril devem ser observados e fielmente cumpridos, sob pena de cancelamento de bloqueio de utilização da Ferramenta e demais medidas cabíveis, caso os mencionados Termos forem violados ou descumpridos.</p>
				<p>5. Registro e dados pessoais</p>
				<p>É dever do Usuário manter atualizados os dados pessoais fornecidos quando da utilização da Ferramenta.</p>
				<p>A Empresa pode cancelar qualquer registro do Usuário, a qualquer momento e sem prévio aviso, assim que tiver conhecimento, e a seu exclusivo critério, se o Usuário descumprir, intencionalmente ou não, estes Termos e Condições de Uso, ou violar leis e regulamentos federais, estaduais e/ou municipais, ou violar os princípios legais, a moral e os bons costumes.</p>
				<p>Os Usuários que tiverem seus registros cancelados não poderão mais utilizar a Ferramenta.</p>
				<p>6. Regras de conduta do Usuário</p>
				<p>O Usuário se compromete a não utilizar a Ferramenta para a publicação, criação, armazenamento e/ou divulgação de:</p>
				<p>a) Conteúdo abusivo, como textos, fotos e/ou vídeos que tenham caráter difamatório, discriminatório, obsceno, ofensivo, ameaçador, abusivo, vexatório, prejudicial, que contenha expressões de ódio contra pessoas ou grupos, ou que contenha pornografia infantil, pornografia explícita ou violenta, conteúdo que possa ser danoso a menores, que contenha insultos ou ameaças religiosas ou raciais, ou que incentive danos morais (incluindo os corporais) e patrimoniais, ou que possa violar qualquer direito de terceiro, notadamente os direitos humanos.</p>
				<p>b) Banners publicitários e/ou qualquer tipo de comércio eletrônico que seja considerado ilícito, assim entendidos os que sejam contrários à legislação ou ofendam direitos de terceiros.</p>
				<p>c) Qualquer tipo de material (textos, fotos e/ou vídeos) protegido por direitos autorais, copyright ou que, por qualquer razão, violem direitos de terceiros.</p>
				<p>d) Informações difamatórias e caluniosas ou que sejam contrárias à honra, à intimidade pessoal e familiar ou à imagem das pessoas (inclusive de pessoa jurídicas, entidades e organizações e ela equiparadas).</p>
				<p>e) Material que incite à violência e à criminalidade, bem como à pirataria de produtos.</p>
				<p>f) Conteúdo que provoque, por suas características (como extensões e formatos de arquivos) danos ao sistema da Abril.</p>
				<p>O Usuário concorda que, ao usar a Ferramenta, não irá:</p>

			</div>
		</div>
	</div>
</div>

<br />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style type="text/css">
	.field-validation-error {
		color: #ff0000;
		display: block;
	}
</style>


<body>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">


			@using (Html.BeginForm())
			{
				<div class="form-group">
					@Html.CheckBoxFor(x => x.TermsAndConditions)
					@Html.LabelFor(x => x.TermsAndConditions)
					@Html.ValidationMessageFor(x => x.TermsAndConditions)
				</div>

				<button type="submit" class="btn btn-success submit">Aceitar</button>
			}
		</div>
	</div>
	<hr />
	<div class="credits text-center">
		<p>
			<a href="http://jasonwatmore.com/post/2013/10/16/ASPNET-MVC-Required-Checkbox-with-Data-Annotations.aspx"></a>
		</p>
		<p>
			<a href="http://jasonwatmore.com"></a>
		</p>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>

	<script>
		// extend jquery range validator to work for required checkboxes
		var defaultRangeValidator = $.validator.methods.range;
		$.validator.methods.range = function (value, element, param) {
			if (element.type === 'checkbox') {
				// if it's a checkbox return true if it is checked
				return element.checked;
			} else {
				// otherwise run the default validation function
				return defaultRangeValidator.call(this, value, element, param);
			}
		}
	</script>
</body>




